In [1]:
import pandas as pd

In [3]:
# load data
candidate1_tweets = pd.read_csv("seanhannity_tweets.csv")
candidate2_tweets = pd.read_csv("jbouie_tweets.csv")

In [4]:
candidate1_tweets.head()

,id,created_at,favorite_count,retweet_count,text
0,1649466440896872449,2023-04-21 17:33:39+00:00,125,33,*LYIN' BIDEN* https://t.co/PDkmbaKML5
1,1649442139707781122,2023-04-21 15:57:05+00:00,789,254,Another piece falls into place... https://t.co...
2,1649430750314262528,2023-04-21 15:11:50+00:00,169,35,Whoops... https://t.co/n2g49mKnJk
3,1649397081549709315,2023-04-21 12:58:03+00:00,445,114,“That document in the wrong person’s hands wou...
4,1649392019465293826,2023-04-21 12:37:56+00:00,324,39,"ELDER: “America is in decline, but this declin..."

In [8]:
candidate1_tweets.shape

(3237, 5)

In [9]:
candidate1_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3237 entries, 0 to 3236
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3237 non-null   int64
 1   created_at      3237 non-null   object
 2   favorite_count  3237 non-null   int64
 3   retweet_count   3237 non-null   int64
 4   text            3237 non-null   object
dtypes: int64(3), object(2)
memory usage: 126.6+ KB

In [5]:
candidate2_tweets.head()

,id,created_at,favorite_count,retweet_count,text
0,1649427437460004865,2023-04-21 14:58:40+00:00,7,0,@whinerisms i have!
1,1649426757278105601,2023-04-21 14:55:58+00:00,1,0,@meghin_ it’s out?!?!?
2,1649426525966458882,2023-04-21 14:55:03+00:00,602,28,i continue to think that an underrated (and ir...
3,1649426393858560003,2023-04-21 14:54:31+00:00,1739,168,supreme court brain is a bipartisan affliction...
4,1649406295676469251,2023-04-21 13:34:40+00:00,175,3,i talk about this movie not infrequently on @u...

In [7]:
candidate2_tweets.shape

(2057, 5)

In [10]:
candidate1_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3237 entries, 0 to 3236
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3237 non-null   int64
 1   created_at      3237 non-null   object
 2   favorite_count  3237 non-null   int64
 3   retweet_count   3237 non-null   int64
 4   text            3237 non-null   object
dtypes: int64(3), object(2)
memory usage: 126.6+ KB